body {
  background: #ddd;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.stage {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border: 2px solid #bbb;
  /* はみ出ている部分を消す */
  overflow: hidden;
}

#cards {
  width: 300px;
  height: 100px;
  background: #cae6f4;
  /* アニメーションにする */
  transition: 0.8s;
}

.card {
  width: 100px;
  height: 100px;
  background: #fff;
  float: left;
}

.card+.card {
  margin-left: 100px;
}

#cards.move {
  /* 動く幅 */
  transform: translate(-200px, 0);
}
